*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  border: none;
}

a:link,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 47%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 35%;
  }
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.show {
  overflow: hidden;
}

body {
  font-family: 'Anton', sans-serif;
  color: #333;
}

.heading-primary {
  font-size: 7rem;
  text-transform: uppercase;
  color: #5c5c5c;
  border-bottom: 4px solid #404040;
  letter-spacing: .5rem;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: lighter;
}

@media only screen and (max-width: 1100px) {
  .heading-primary {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading-primary {
    font-size: 6rem;
    border: none;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .heading-primary {
    font-size: 10rem;
    border: none;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .heading-primary {
    border: none;
  }
}

@media only screen and (max-width: 900px) {
  .heading-primary--sub {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px solid #404040;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .heading-primary--sub {
    display: block;
    width: 65%;
    margin: 0 auto;
    border-bottom: 4px solid #404040;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .heading-primary--sub {
    display: block;
    width: 65%;
    margin: 0 auto;
    border-bottom: 4px solid #404040;
  }
}

.heading-secondary {
  max-width: 1280px;
  font-size: 7rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 1100px) {
  .heading-secondary {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .heading-secondary {
    font-size: 7rem;
  }
}

.heading-secondary > * {
  display: block;
}

.heading-secondary--left {
  padding-left: 10rem;
}

.heading-secondary--right {
  padding-right: 10rem;
  text-align: right;
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: #ffffffe1;
  letter-spacing: .1rem;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .heading-tertiary {
    font-size: 4rem;
  }
}

.paragraph {
  font-family: 'Josefin Sans', sans-serif;
  width: 50%;
  margin: 0 auto;
  font-size: 2.2rem;
  line-height: 1.8;
  color: #777;
  letter-spacing: .1rem;
}

.paragraph .big {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.paragraph .bold {
  color: #333;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .paragraph {
    width: 80%;
  }
}

@media only screen and (max-width: 320px) {
  .paragraph {
    width: 90%;
  }
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
  .paragraph {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .paragraph {
    font-size: 3rem;
  }
}

.margin-big {
  margin-bottom: 10rem;
}

.margin-bigger {
  margin-bottom: 20rem;
}

.margin-small {
  margin: 5rem 0;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  width: 40px;
  height: 40px;
  padding: 1rem;
  background: #c7c5c5dc;
  background: none;
  border-radius: 50%;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .menu-btn {
    width: 35px;
    height: 35px;
  }
}

.menu-btn > span {
  display: block;
  width: 100%;
  height: .15rem;
  margin: 0 0 .4rem 0;
  background-color: #777;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .menu-btn > span {
    margin: 0 0 .6rem 0;
  }
}

.menu-btn:hover .btn-line {
  background-color: #999;
}

.menu-btn:hover .btn-line:nth-child(1) {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-btn:hover .btn-line:nth-child(3) {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.menu-btn.close {
  position: fixed;
}

.menu-btn.close:hover .btn-line {
  background-color: #999;
}

.menu-btn.close .btn-line {
  background-color: #777;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 3px);
          transform: rotate(45deg) translate(4px, 3px);
}

@media only screen and (max-width: 800px) {
  .menu-btn.close .btn-line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(3px, 2px);
            transform: rotate(45deg) translate(3px, 2px);
  }
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -3px);
          transform: rotate(-45deg) translate(4px, -3px);
}

@media only screen and (max-width: 800px) {
  .menu-btn.close .btn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(3px, -2px);
            transform: rotate(-45deg) translate(3px, -2px);
  }
}

.fb,
.msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  border-radius: 50%;
}

.fb:hover .fb__icon,
.fb:hover .msg__icon,
.msg:hover .fb__icon,
.msg:hover .msg__icon {
  fill: #777;
}

.fb__icon,
.msg__icon {
  width: 3rem;
  height: 3rem;
  fill: #c7c5c5dc;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .fb__icon,
  .msg__icon {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .fb__icon,
  .msg__icon {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(173deg, black 10%, #242425 100%);
  z-index: 2;
  opacity: .95;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.menu.show {
  visibility: visible;
  position: fixed;
}

.menu-logo {
  position: absolute;
  bottom: 50%;
  left: 2.5rem;
  -webkit-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: .3rem;
  font-size: 3.2rem;
  color: #a06630;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@media only screen and (max-width: 1023px) and (max-height: 768px) {
  .menu-logo {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .menu-logo {
    font-size: 4rem;
  }
}

.menu-logo.show {
  opacity: 1;
}

.menu-logo--sub {
  font-size: 2rem;
  color: #c7c5c5dc;
  text-align: right;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .menu-logo--sub {
    font-size: 3rem;
  }
}

.menu-nav {
  margin-top: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate3d(142px, 0, 0);
          transform: translate3d(142px, 0, 0);
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@media only screen and (max-width: 1100px) {
  .menu-nav {
    margin-top: 3rem;
  }
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.menu-nav__list {
  text-align: center;
}

.menu-nav__item {
  padding: 0 1rem;
}

.menu-nav__link {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  font-size: 5.5rem;
  color: #777;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@media only screen and (max-width: 824px) and (max-height: 415px) {
  .menu-nav__link {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .menu-nav__link {
    font-size: 8rem;
  }
}

.menu-nav__link::before {
  content: '';
  width: 100%;
  height: .3rem;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .5;
  background-color: #777;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.menu-nav__link:nth-child(odd)::before {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.menu-nav__link:hover {
  color: #c7c5c5dc;
}

.menu-nav__link:hover::before {
  opacity: 0;
}

.menu-nr {
  display: inline-block;
  margin: 1rem 0;
  padding: .5rem 1rem;
  font-size: 3.5rem;
  background-color: #c7c5c5dc;
  color: #1C1B1B;
}

@media only screen and (max-width: 824px) and (max-height: 415px) {
  .menu-nr {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .menu-nr {
    font-size: 5rem;
  }
}

.menu-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 2rem;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@media only screen and (max-width: 1023px) and (max-height: 768px) {
  .menu-social-media {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-social-media.show {
  opacity: 1;
}

.menu .follow {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #a06630;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media only screen and (max-width: 824px) and (max-height: 415px) {
  .menu .follow {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .menu .follow {
    font-size: 3.5rem;
  }
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 3, 3, 0.6)), to(rgba(10, 10, 10, 0.6))), url("../../img/headerblack&white3.jpg");
  background-image: linear-gradient(rgba(3, 3, 3, 0.6), rgba(10, 10, 10, 0.6)), url("../../img/headerblack&white3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.header-top {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  background-color: black;
  -webkit-box-shadow: 0 0 10px 1px #000;
          box-shadow: 0 0 10px 1px #000;
}

.header__heading {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .25s .15s ease-in-out;
  transition: all .25s .15s ease-in-out;
}

.header__heading.show {
  opacity: 0;
}

.logo-box {
  margin-left: 5rem;
  padding: 0 1rem;
}

.logo {
  -webkit-transition: all .25s .15s ease-in-out;
  transition: all .25s .15s ease-in-out;
}

.logo.show {
  opacity: 0;
}

.logo__img {
  width: 6rem;
  height: 6rem;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .logo__img {
    width: 10rem;
    height: 10rem;
  }
}

.welcome {
  display: inline-block;
  position: absolute;
  bottom: -6rem;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  color: #000;
  background-color: #c7c5c5dc;
  background-color: #a57a4d;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .welcome {
    font-size: 3rem;
    bottom: -9rem;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.6rem;
  color: #a06630;
  -webkit-transition: all .25s .15s ease-in-out;
  transition: all .25s .15s ease-in-out;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .scroll {
    font-size: 2.4rem;
  }
}

.scroll.show {
  opacity: 0;
}

.scroll-arrow {
  display: block;
  font-size: 5rem;
  text-align: center;
}

.footer {
  position: relative;
  width: 100%;
  padding: 2rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1C1B1B;
}

.footer__logo {
  position: absolute;
  bottom: 50%;
  right: 4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #a06630;
  font-size: 3rem;
  letter-spacing: .3rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  white-space: nowrap;
}

.footer__logo--sub {
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #c7c5c5dc;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__social-media > * {
  display: inline-block;
  margin: 0 .5rem;
}

.footer__social-media .follow {
  font-size: 2rem;
  color: #a06630;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .footer__social-media .follow {
    font-size: 3rem;
  }
}

.workshop-gallery {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .workshop-gallery {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .workshop-gallery {
    width: 100%;
  }
}

.gallery {
  width: 48%;
  height: 35rem;
  -webkit-box-shadow: 0 0 50px 2px #000;
          box-shadow: 0 0 50px 2px #000;
}

@media only screen and (max-width: 900px) {
  .gallery {
    width: 48%;
    height: 35rem;
  }
}

@media only screen and (max-width: 800px) {
  .gallery {
    width: 55%;
  }
}

.gallery:not(:last-child) {
  margin-bottom: -13rem;
}

@media only screen and (max-width: 800px) {
  .gallery:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    width: 65%;
  }
}

@media only screen and (max-width: 500px) {
  .gallery {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .gallery {
    width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  .gallery {
    width: 100%;
  }
}

.gallery-1, .gallery-3, .gallery-5, .gallery-7, .gallery-9 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 800px) {
  .gallery-1, .gallery-3, .gallery-5, .gallery-7, .gallery-9 {
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-1, .gallery-3, .gallery-5, .gallery-7, .gallery-9 {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 360px) {
  .gallery-1, .gallery-3, .gallery-5, .gallery-7, .gallery-9 {
    margin-left: -2rem;
  }
}

.gallery-2, .gallery-4, .gallery-6, .gallery-8 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .gallery-2, .gallery-4, .gallery-6, .gallery-8 {
    margin-right: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-2, .gallery-4, .gallery-6, .gallery-8 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media only screen and (max-width: 360px) {
  .gallery-2, .gallery-4, .gallery-6, .gallery-8 {
    margin-left: 2rem;
  }
}

.gallery > img {
  -webkit-filter: grayscale(0.3) brightness(0.7) drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.8));
          filter: grayscale(0.3) brightness(0.7) drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.8));
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.about {
  position: relative;
  padding: 10rem;
  height: 100vh;
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .about {
    height: auto;
  }
}

@media only screen and (min-width: 812px) and (min-height: 375px) {
  .about {
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .about {
    height: auto;
  }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
  .about {
    height: auto;
  }
}

@media only screen and (min-width: 1100px) and (min-height: 731px) {
  .about {
    height: 100vh;
  }
}

.workshop {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10rem;
  color: #c7c5c5dc;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: .3rem;
  background-color: #1C1B1B;
}

.workshop .side-text {
  height: 80%;
}

.workshop .side-text--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #999;
}

.workshop .side-text--and {
  color: #a06630;
}

.offer {
  position: relative;
  width: 100%;
  padding: 10rem;
}

@media only screen and (max-width: 320px) {
  .offer .heading-secondary--right {
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .offer .heading-secondary--right {
    padding: 0;
  }
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
}

@media only screen and (max-width: 360px) {
  .offer__list {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .offer__list {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  .offer__list {
    width: 80%;
  }
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
  .offer__list {
    font-size: 2.4rem;
    width: 80%;
  }
}

@media only screen and (max-width: 320px) {
  .offer__list {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .offer__list {
    font-size: 3rem;
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .offer__list {
    font-size: 2.5rem;
    width: 50%;
  }
}

@media only screen and (min-width: 1100px) and (min-height: 731px) {
  .offer__list {
    width: 50%;
  }
}

.offer__name {
  color: #777;
  padding-right: 3rem;
  border-right: 1px solid #c7c5c5dc;
}

.offer__name > li {
  padding: 1rem;
}

.offer__price {
  font-weight: bold;
  padding-left: 3rem;
}

.offer__price > li {
  padding: 1rem;
}

.contact {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 5rem;
  background-color: #1C1B1B;
  color: #c7c5c5dc;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1600px) {
  .contact-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .contact-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.details {
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: lighter;
}

.details > * {
  margin-bottom: 3.2rem;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .details {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
  .details {
    font-size: 2.2rem;
  }
}

.google-map {
  width: 40%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-shadow: -3px 3px 20px 0 #000;
          box-shadow: -3px 3px 20px 0 #000;
}

@media only screen and (max-width: 900px) {
  .google-map {
    margin-top: 5rem;
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 700px) {
  .google-map {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .google-map {
    width: 70%;
  }
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
  .google-map {
    width: 70%;
  }
}

@media only screen and (min-width: 1100px) and (min-height: 731px) {
  .google-map {
    width: 50%;
  }
}

@media only screen and (max-width: 360px) {
  .google-map {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .google-map {
    margin-top: 3rem;
    width: 60%;
  }
}

@media only screen and (min-width: 1100px) and (min-height: 731px) {
  .google-map {
    width: 40%;
  }
}

.google-map__img {
  width: 100%;
  height: 100%;
}

.side-text {
  position: absolute;
  right: 3rem;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #c7c5c5dc;
  color: #333;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 2.8rem;
  letter-spacing: .3rem;
  text-align: center;
  height: 100%;
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .side-text {
    font-size: 4rem;
  }
}

.side-text--main {
  font-size: 3.5rem;
  color: #777;
  display: inline;
}

.side-text--sub {
  display: inline;
}

.go-back {
  position: absolute;
  bottom: 3.5rem;
  left: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  visibility: hidden;
  color: #777;
  font-size: 1.8rem;
  z-index: 2;
}

.go-back:hover {
  color: #999;
}

.go-back:hover .go-back__icon {
  fill: #999;
}

.go-back__icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-top: 1rem;
  fill: #777;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
/*# sourceMappingURL=main.css.map */