*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  border: none;
}

a:link,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: #444;
}

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  color: #5c5c5c;
  border-bottom: 4px solid #404040;
}

.heading-secondary {
  max-width: 1280px;
  font-size: 7rem;
  text-transform: uppercase;
}

.heading-secondary > * {
  display: block;
}

.heading-secondary--left {
  padding-left: 10rem;
}

.heading-secondary--right {
  padding-right: 10rem;
  text-align: right;
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: #ffffffe1;
  letter-spacing: .1rem;
}

.paragraph {
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.6;
  color: #444;
}

.margin-big {
  margin-bottom: 10rem;
}

.margin-bigger {
  margin-bottom: 20rem;
}

.margin-small {
  margin: 5rem 0;
}

.menuActive {
  opacity: 1;
  display: fixed;
  overflow: hidden;
}

.btn-hamburger {
  display: block;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.btn-hamburger > span {
  display: block;
  width: 100%;
  height: .15rem;
  background-color: #c7c5c5dc;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.btn-hamburger:hover span {
  background-color: #444;
}

.header-hamburger--1, .header-hamburger--2, .header-hamburger--3 {
  margin: .5rem auto;
}

.header-hamburger:hover .header-hamburger--1 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-hamburger:hover .header-hamburger--3 {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.menu-hamburger {
  position: relative;
}

.menu-hamburger--1, .menu-hamburger--2 {
  position: absolute;
}

.menu-hamburger--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-hamburger--2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fb,
.msg {
  display: block;
  margin-top: 1rem;
  border-radius: 50%;
}

.fb:hover .fb__icon,
.fb:hover .msg__icon,
.msg:hover .fb__icon,
.msg:hover .msg__icon {
  fill: #444;
}

.fb__icon,
.msg__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #c7c5c5dc;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(173deg, black 10%, #242425 100%);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
  z-index: 100;
}

.menu-top {
  padding: 2rem 3rem;
}

.menu-logo {
  position: absolute;
  bottom: 50%;
  left: 2.5rem;
  -webkit-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: .3rem;
  font-size: 3rem;
  color: #a06630;
}

.menu-logo--sub {
  font-size: 2rem;
  color: #c7c5c5dc;
  text-align: right;
}

.menu-nav {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu-nav__list {
  text-align: center;
}

.menu-nav__item {
  padding: 0 1rem;
}

.menu-nav__link {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  font-size: 5.5rem;
  color: #444;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-nav__link::before {
  content: '';
  width: 100%;
  height: .3rem;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .5;
  background-color: #444;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-nav__link:nth-child(odd)::before {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.menu-nav__link:hover {
  color: #c7c5c5dc;
}

.menu-nav__link:hover::before {
  opacity: 0;
}

.menu-nr {
  display: inline-block;
  margin: 1rem 0;
  padding: .5rem 1rem;
  font-size: 3.5rem;
  background-color: #c7c5c5dc;
  color: #1C1B1B;
}

.menu-social-media {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 2rem;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 3, 3, 0.6)), to(rgba(10, 10, 10, 0.6))), url(../../img/headerblack&white3.jpg);
  background-image: linear-gradient(rgba(3, 3, 3, 0.6), rgba(10, 10, 10, 0.6)), url(../../img/headerblack&white3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.header-top {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  background-color: black;
  -webkit-box-shadow: 0 0 10px 1px #000;
          box-shadow: 0 0 10px 1px #000;
}

.header__heading {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: right;
}

.logo-box {
  padding: 0 1rem;
}

.logo__img {
  width: 5rem;
  height: 5rem;
}

.welcome {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  color: #000;
  background-color: #c7c5c5dc;
  background-color: #a57a4d;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.5rem;
  color: #a06630;
}

.scroll-arrow {
  display: block;
  font-size: 5rem;
  text-align: center;
}

.nav {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  display: block;
  position: relative;
  margin-right: 1rem;
  margin-top: 2rem;
  padding: 1rem .5rem;
  text-align: center;
  overflow: hidden;
}

.nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c7c5c5dc;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  z-index: -1;
}

.nav__item:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item:hover .nav__link {
  color: #000;
}

.nav__link {
  font-size: 2rem;
  letter-spacing: .3rem;
  color: #fff;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  white-space: nowrap;
}

.footer {
  position: relative;
  width: 100%;
  padding: 2rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1C1B1B;
}

.footer__logo {
  position: absolute;
  bottom: 50%;
  right: 4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #a06630;
  font-size: 3rem;
  letter-spacing: .3rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  white-space: nowrap;
}

.footer__logo--sub {
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #c7c5c5dc;
}

.footer__social-media > * {
  display: inline-block;
  margin: 0 .5rem;
}

.workshop-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[22];
      grid-template-columns: repeat(22, 100px);
  -ms-grid-rows: (100px)[6];
      grid-template-rows: repeat(6, 100px);
  grid-gap: 5rem;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 20rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.gallery-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  border-top: 1px solid #c7c5c5dc;
  border-right: 1px solid #c7c5c5dc;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.gallery-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-4 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11/14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-6 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-7 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11/14;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.gallery-8 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14/17;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-9 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 4;
  grid-column: 15/19;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery-10 {
  -ms-grid-column: 17;
  -ms-grid-column-span: 3;
  grid-column: 17/20;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-11 {
  -ms-grid-column: 19;
  -ms-grid-column-span: 3;
  grid-column: 19/22;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-12 {
  -ms-grid-column: 21;
  -ms-grid-column-span: 4;
  grid-column: 21/25;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -webkit-box-shadow: 3px -3px 2px 1px #c7c5c5dc;
          box-shadow: 3px -3px 2px 1px #c7c5c5dc;
}

.gallery-13 {
  -ms-grid-column: 22;
  -ms-grid-column-span: 1;
  grid-column: 22/23;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 3rem;
}

.gallery-14 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  height: 100vh;
}

.workshop {
  margin: 0 auto;
  padding: 10rem;
  color: #ffffffe1;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: .3rem;
  background-color: #1C1B1B;
}

.offer {
  position: relative;
  width: 100%;
  padding: 10rem;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
}

.offer__name {
  border-right: 1px solid #c7c5c5dc;
  padding-right: 3rem;
}

.offer__name > li {
  padding: 1rem;
}

.offer__price {
  padding-left: 3rem;
}

.offer__price > li {
  padding: 1rem;
}

.side-text {
  position: absolute;
  right: 3rem;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #c7c5c5dc;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 2.8rem;
  letter-spacing: .3rem;
  text-align: center;
}

.side-text--main {
  font-size: 3.5rem;
  color: #444;
}

.contact {
  margin: 0 auto;
  padding: 10rem 5rem;
  background-color: #1C1B1B;
  color: #c7c5c5dc;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details {
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: lighter;
}

.details > * {
  margin-bottom: 3.2rem;
}

.google-map {
  width: 40%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-shadow: -3px 3px 20px 0 #000;
          box-shadow: -3px 3px 20px 0 #000;
}

.google-map__img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */