@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flexCenter($direction:'row') {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-self: center;
}

@mixin transition {
  transition: all .25s ease-in-out;
}

@mixin transitionSlower {
  transition: all .25s .15s ease-in-out;
}


@mixin mq1600 {
  @media only screen and (max-width: 1600px) {
    @content;
  }
}

@mixin mq1300 {
  @media only screen and (max-width: 1300px) {
    @content;
  }
}

@mixin mq1100 {
  @media only screen and (max-width: 1100px) {
    @content;
  }
}

@mixin mq900 {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin mq800 {
  @media only screen and (max-width: 800px) {
    @content;
  }
}


@mixin mq700 {
  @media only screen and (max-width: 700px) {
    @content;
  }
}

@mixin mq600 {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin mq500 {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin mq400 {
  @media only screen and (max-width: 400px) {
    @content;
  }
}


@mixin mq360 {
  @media only screen and (max-width: 360px) {
    @content;
  }
}

@mixin mq320 {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin mqBoth($width, $height) {
  @media only screen and (min-width: $width) and (min-height: $height) {
    @content;
  }
}