@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flexCenter($direction:'row') {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-self: center;
}

@mixin transition {
  transition: all .25s ease-in-out;
}

@mixin transitionSlower {
  transition: all .25s .15s ease-in-out;
}