$color-primary: #777;
$color-primary2: #333;
$color-black: #000;
$color-black-light: #1C1B1B;
$color-white: #fff;
$color-brown: #a06630;
$color-gray-1: #c7c5c5dc;
$color-gray-2: #ffffffe1;
$color-gray-3: #999;

$default-font-size: 2rem;
$font-size-bigger: 2.2rem;

$font-size-smaller: 1.8rem;