.footer {
  width: 100%;
  padding: 4rem 20rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-black-light;

  &__title {

    &--big {
      font-size: 3rem;
      color: $color-brown;
      letter-spacing: .2rem;
    }

    &--small {
      margin-left: 1rem;
      font-size: 2.5rem;
      color: $color-gray-1;
      letter-spacing: .1rem;
    }
  }
}

.social-media {
  align-self: center;
  font-size: $font-size-smaller;
}

.fb {
  padding-right: 1rem;
  border-right: 1px solid $color-gray-1;
  color: $color-gray-1;

  &:hover {
    color: $color-gray-2;
  }
}

.msg {
  padding-left: 1rem;
  color: $color-gray-1;

  &:hover {
    color: $color-gray-2;
  }
}