.footer {
  position: relative;
  width: 100%;
  padding: 2rem 20rem;
  display: flex;
  justify-content: center;
  background-color: $color-black-light;

  &__logo {
    position: absolute;
    bottom: 50%;
    right: 4rem;
    transform: translateY(-50%);
    color: $color-brown;
    font-size: 3rem;
    letter-spacing: .3rem;
    writing-mode: vertical-rl;
    white-space: nowrap;

    &--sub {
      margin-left: 1rem;
      font-size: 2.5rem;
      color: $color-gray-1;
    }
  }

  &__social-media {

    &>* {
      display: inline-block;
      margin: 0 .5rem;
    }
  }
}