.menu {
  @include abs;
  transform: translate(100%);
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  z-index: 10;
  transition: .2s;
}

.title-container {
  @include absCenter;
  display: flex;
}

.title__primary {
  padding: 2rem;
  border: 1px solid $color-black;

  &--big {}

  &--small {
    background-color: $color-gray-1;
  }
}

.title__secondary {
  margin-left: 1rem;
  transform: rotate(-90deg);
}