.menu {
  @include abs;
  width: 100%;
  height: 100vh;
  background-color: $color-black-light;
  transition: .5s;
  opacity: 0;
  display: none;

  flex-direction: column;

  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }

  &-logo {

    &--sub {
      display: block;
    }
  }


  &-nav {
    margin-top: 1rem;
    align-self: center;

    &__item {
      margin-top: 2rem;
    }
  }

  &-nr {
    display: block;
  }

  &-social-media {
    margin-bottom: 2rem;
    margin-top: auto;
    align-self: center;
  }

  &-fb,
  &-msg {
    padding: 1rem;
  }
}