.menu {
  @include abs;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(173deg, rgba(0, 0, 0, 1) 10%, rgba(36, 36, 37, 1) 100%);
  z-index: 2;
  opacity: .95;
  visibility: hidden;
  overflow: hidden;
  @include transition;


  &.show {
    visibility: visible;
    position: fixed;
  }

  &-logo {
    position: absolute;
    bottom: 50%;
    left: 2.5rem;
    transform: rotate(180deg) translateY(-50%);
    writing-mode: vertical-rl;
    letter-spacing: .3rem;
    font-size: 3.2rem;
    color: $color-brown;
    opacity: 0;
    @include transition;

    @media only screen and (max-width: 1023px) and (max-height: 768px) {
      font-size: 2.5rem;
    }

    &.show {
      opacity: 1;
    }


    &--sub {
      font-size: $default-font-size;
      color: $color-gray-1;
      text-align: right;
    }
  }


  &-nav {
    margin-top: 5rem;
    align-self: center;
    transform: translate3d(142px, 0, 0);
    @include transition;
    opacity: 0;

    @media only screen and (max-width: 1023px) and (max-height: 768px) {
      margin-top: 2rem;
    }

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }


    &__list {
      text-align: center;
    }

    &__item {
      padding: 0 1rem;
    }

    &__link {
      position: relative;
      display: block;
      margin-bottom: 1rem;
      padding: 0 .5rem;
      font-size: 5.5rem;
      color: $color-primary;
      overflow: hidden;
      @include transition;

      @media only screen and (max-width: 1023px) and (max-height: 768px) {
        font-size: 3.8rem;
      }

      &::before {
        content: '';
        width: 100%;
        height: .3rem;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        opacity: .5;
        background-color: $color-primary;
        @include transition;
      }

      &:nth-child(odd)::before {
        transform: rotate(3deg);
      }

      &:hover {
        color: $color-gray-1;
      }

      &:hover::before {
        opacity: 0;
      }
    }
  }

  &-nr {
    display: inline-block;
    margin: 1rem 0;
    padding: .5rem 1rem;
    font-size: 3.5rem;
    background-color: $color-gray-1;
    color: $color-black-light;

    @media only screen and (max-width: 1023px) and (max-height: 768px) {
      font-size: 2.5rem;
    }
  }

  &-social-media {
    @include flexCenter(column);
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 2rem;
    opacity: 0;
    @include transition;

    @media only screen and (max-width: 1023px) and (max-height: 768px) {
      align-items: center;
    }


    &.show {
      opacity: 1;
    }
  }

  .follow {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: $color-brown;
    writing-mode: vertical-rl;
  }

  @media only screen and (max-width: 1023px) and (max-height: 768px) {
    font-size: 2rem;
  }
}