.menu-btn {
  position: absolute;
  z-index: 3;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  @include transition;


  &>span {
    display: block;
    width: 100%;
    height: .15rem;
    margin: 0 0 .4rem 0;
    background-color: $color-gray-1;
    @include transition;
  }

  &:hover {
    .btn-line {
      background-color: $color-primary;

      &:nth-child(1) {
        transform: translateX(-50%);
      }

      &:nth-child(3) {
        transform: translate(50%);
      }
    }
  }

  &.close {

    &:hover {
      .btn-line {
        background-color: $color-primary;
      }
    }

    .btn-line {
      background-color: $color-gray-1;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 3px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -3px);
      }
    }
  }
}