.fb,
.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 50%;

  &:hover .fb__icon,
  &:hover .msg__icon {
    fill: $color-primary;
  }
}

.fb__icon,
.msg__icon {
  width: 3rem;
  height: 3rem;
  fill: $color-gray-1;
  @include transition;

  @media only screen and (min-width: 768px) and (min-height: 1024px) {
    width: 4rem;
    height: 4rem;
  }
}