*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: none;
}

a:link,
a:visited {
  text-decoration: none;
}


ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;

  @include mqXl {
    font-size: 55%;
  }

  @include mqLg {
    font-size: 50%;
  }

  @include mqMd {
    font-size: 45%;
  }

  @include mqSm {
    font-size: 40%;
  }
}

body {
  width: 100%;
  box-sizing: border-box;

  &.show {
    position: sticky;
  }
}