*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: none;
}

a:link,
a:visited {
  text-decoration: none;
}


ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;

  @include mq1600 {
    font-size: 55%;
  }

  @include mq1300 {
    font-size: 47%;
  }

  @include mq800 {
    font-size: 40%;
  }

  @include mq500 {
    // font-size: 40%;
  }

  @include mq360 {
    font-size: 35%;
  }
}

body {
  width: 100%;
  box-sizing: border-box;

  &.show {
    // position: fixed;
  }
}