body {
  // font-family: sans-serif, Arial, Helvetica, sans-serif;
  //font-weight
  //line-height
  //color
  //margin
  //padding
  //text-transform
  color: $color-primary;
}


.btn-hamburger {
  font-size: 2rem;
  color: $color-gray-1;

  &--close {
    color: $color-black;
  }
}

.menu {

  .title__primary {
    letter-spacing: .4rem;

    &--big {
      font-size: 8rem;
    }

    &--small {
      font-size: 5rem;
    }
  }

  .title__secondary {
    font-size: 3rem;
    color: $color-gray-1;
  }
}



.nav {

  &__list {
    list-style: none;
  }

  &__item {
    text-align: center;
  }

  &__link {
    color: $color-gray-1;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: .3rem;
  }
}


.heading-secondary {
  font-size: 6rem;
  text-transform: uppercase;

  &>* {
    display: block;
  }

  &--left {
    padding-left: 20rem;
  }

  &--right {
    padding-right: 20rem;
    text-align: right;
  }
}


.about__desc {
  font-size: $default-font-size;
  line-height: 1.6;
  color: $color-primary;
}