body {
  color: $color-primary;
}

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  // text-align: right;
  color: #5c5c5c;
  border-bottom: 4px solid #404040;

  @include mq1300 {
    font-size: 5.5rem;
    text-align: center;

  }

  @include mqLg {
    font-size: 4.6rem;
  }

  @include mqMd {
    & {
      font-size: 5rem;
      border: none;
    }

    &--sub {
      display: block;
      width: 70%;
      margin: 0 auto;
      border-bottom: 4px solid #404040;
    }
  }

  @include mqSm {
    font-size: 6.5rem;
  }

  @include mqSet(320px, 568px) {
    font-size: 5.2rem;
  }

  @include mqSet(768px, 1024px) {
    font-size: 8.5rem;
  }
}

.heading-secondary {
  max-width: 1280px;
  font-size: 7rem;
  text-transform: uppercase;

  @include mqSet(320px, 568px) {
    font-size: 6rem;
  }

  &>* {
    display: block;
  }

  &--left {
    padding-left: 10rem;

    @include mqSet(320px, 568px) {
      padding-left: 7rem;
    }
  }

  &--right {
    padding-right: 10rem;
    text-align: right;
  }
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: $color-gray-2;
  letter-spacing: .1rem;
}


.paragraph {
  width: 50%;
  margin: 0 auto;
  font-size: $default-font-size;
  line-height: 1.6;
  color: $color-primary;

  @include mqSm {
    width: 70%;
  }

  @include mqSet(320px, 568px) {
    width: 60%;
  }
}