.margin-big {
  margin-bottom: 10rem;
}

.margin-bigger {
  margin-bottom: 20rem;
}

.margin-small {
  margin: 5rem 0;
}

.close {
  .btn-line {

    // Line 1 - Rotate
    &:nth-child(1) {
      transform: rotate(45deg) translate(5px, 3px);
    }

    // Line 2 - Hide
    &:nth-child(2) {
      opacity: 0;
    }

    // Line 3 - Rotate
    &:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -3px);
    }
  }
}