.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
}

.workshop {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  color: $color-primary;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: .3rem;
}

.offer {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../img/hair9.jpg);
  // background-attachment: fixed;
  // background-position: center 0%;
  // background-size: cover;
  // position: sticky;
  width: 100%;
  padding: 10rem;
  background-color: $color-black-light;
  color: $color-gray-2;

  &__list {
    display: flex;
    width: 50%;
    margin: 0 auto;
    font-size: $default-font-size;
  }

  &__name {
    border-right: 1px solid white;
    padding-right: 3rem;

    &>li {
      padding: 1rem;
    }
  }

  &__price {
    padding-left: 3rem;

    &>li {
      padding: 1rem;
    }
  }
}


.contact {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15rem 10rem 10rem 10rem;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}


.address {
  &__list {}

  &__item {
    padding: 1rem 0;
    font-size: $default-font-size;
    color: $color-primary;
  }
}


.open {
  display: flex;
  font-size: $default-font-size;
  color: $color-primary;

  &>* {
    padding: 2rem;
    align-self: center;
  }

  &__title {
    font-size: 2.8rem;
    border-right: 1px solid $color-black-light;
  }

  &__day {}

  &__time {}
}


.google-map {
  margin: 15rem 0;
}