.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.about {
  position: relative;
  padding: 10rem;
  height: 100vh;

  @media only screen and (width: 411px) and (height: 731px) {
    height: 50vh;
  }

  @include mqSet(320px, 568px) {
    padding: 5rem;
  }

  @include mqSet(411px, 731px) {
    height: auto;
  }

}

.workshop {
  width: 100%;
  margin: 0 auto;
  padding: 10rem;
  color: $color-gray-2;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: .3rem;
  background-color: $color-black-light;
}

.offer {
  position: relative;
  width: 100%;
  padding: 10rem;


  &__list {
    display: flex;
    width: 50%;
    margin: 0 auto;
    font-size: $default-font-size;
  }

  &__name {
    border-right: 1px solid $color-gray-1;
    padding-right: 3rem;

    &>li {
      padding: 1rem;
    }
  }

  &__price {
    padding-left: 3rem;

    &>li {
      padding: 1rem;
    }
  }
}



.contact {
  width: 100%;
  margin: 0 auto;
  padding: 10rem 5rem;
  background-color: $color-black-light;
  color: $color-gray-1;

  &-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }


}

.details {
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: lighter;

  &>* {
    margin-bottom: 3.2rem;
  }
}

.address {

  &__title {}

  &__details {}
}

.phone {

  &__title {}

  &__number {}
}


.open {

  &__title {}

  &__details {}
}


.google-map {
  width: 40%;
  align-self: stretch;
  box-shadow: -3px 3px 20px 0 $color-black;

  &__img {
    width: 100%;
    height: 100%;
  }
}



.side-text {
  position: absolute;
  right: 3rem;
  bottom: 50%;
  transform: translateY(50%);
  color: $color-gray-1;
  writing-mode: vertical-rl;
  font-size: 2.8rem;
  letter-spacing: .3rem;
  text-align: center;
  height: 100%;

  @include mqSet(320px, 568px) {
    height: 80%;
  }


  &--main {
    font-size: 3.5rem;
    color: $color-primary;
    display: inline;

    @include mqSet(320px, 568px) {
      display: inline;
    }
  }

  &--sub {
    display: inline;

    @include mqSet(320px, 568px) {
      display: inline;
    }
  }
}